.CA--main{
    background-image: url('../images/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 820px;
    position: relative;
}
.CA--main .top{
    background-color: rgba(0, 0, 0, 0);
}
.CA--main .inner{
    width: 1200px;
    margin: auto;
}
.CA--main .inner .CAbox{
    width: 900px;
    height: 570px;
    display: block;
    margin: auto;
    background-color: white;
    border: 5px solid #333;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}
.CA--main .inner .boxtitle{
    font-size: 40px;
    padding: 40px 40px 30px;
    margin-top: 20px;
}
.CA--main .inner .inputbox{
    padding: 20px;
    font-size: 23px;
    display: block;
}
.CA--main .inner .inputbox .q{
    padding: 5px;
    display: flex;
    margin: auto;
    width: 600px;
    height: 45px;
}
.CA--main .inner .inputbox .pw{
    padding: 5px;
    display: flex;
    /* margin: auto; */
    width: 400px;
    height: 45px;
    /* background-color: orange; */
}
.CA--main .inner .inputbox label{
    /* padding: 10px; */
    display: block;
    width:180px;
    margin: 0 0 0 35px;
    /* background-color: violet; */
}
.CA--main .inner .inputbox input{
    padding: 10px;
    width: 260px;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    height: 35px;
}

.CA--main .inner .CAbox .btnbox {
    /* background-color: orange; */
    width: 400px;
    height: 100px;
    margin: auto;
    padding: 20px;
}
.CA--main .inner .CAbox .btnbox input{
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    margin: 7px;
    width: 300px;
    transition: 0.2s;
}
.CA--main .inner .CAbox .btnbox input:hover{
    color:white;
    background-color: #333;
    cursor: pointer;
}
