.game{
    background-color: #c1c1c1;
    height: 930px;
    padding: 20px;
    background-image: url('../images/game_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.game .inner{
    width: 1300px;
    display: block;
    margin: auto;
}
.game .inner .gamebox{
    height: 810px;
    padding: 10px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.game .inner .gamebox .contents{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    height: 800px;
}
.game .inner .gamebox .contents .main{
    padding: 10px 25px 10px;
    height: 800px;
    position: relative;
    z-index: 2;
    display: flex;
}
.game .inner .gamebox .contents .main li{
    position: relative;
}
.game .inner .gamebox .contents .main li img{
    position: absolute;
    height: 38px;
    background-size: cover;
    top: 74px;
    left: 8px;
}
.game .inner .gamebox .contents .main .top--image{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/top.png);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
}
.game .inner .gamebox .contents .main .jungle--image{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/jungle.png);
    border-radius: 7px;
}
.game .inner .gamebox .contents .main .middle--image{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/middle.png);
    border-radius: 7px;
}
.game .inner .gamebox .contents .main .adc--image{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/adc.png);
    border-radius: 7px;
}
.game .inner .gamebox .contents .main .support--image{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../images/support.png);
    border-radius: 7px;
}
.game .inner .gamebox .contents .main .blue_info{
    background-color: rgb(100, 100, 255);
    padding: 10px;
    width: 150px;
    height: 660px;
    position: absolute;
    z-index: 2;
    display: flex;
    border-radius: 15px;
    transition: 0.5s;
    left: 8px;
    overflow: hidden;
    box-shadow: inset 0 0 15px rgb(33, 49, 139);
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .blue_info ul{
    padding: 0;
}
.game .inner .gamebox .contents .main .blue_info li{
    background-color: rgba(255, 255, 255, 0.26);
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 10px 0 0;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .blue_info span{
    width: 30px;
    height: 30px;
    margin: 0px 0 5px;
}
.game .inner .gamebox .contents .main .blue_info div{
    font-size: 20px;
    width: 100px;
    display: block;
}
.game .inner .gamebox .contents .main .red_info{
    background-color: rgb(253, 120, 120);
    padding: 10px;
    width: 150px;
    height: 660px;
    position: absolute;
    z-index: 2;
    display: flex;
    border-radius: 15px;
    transition: 0.5s;
    right: 8px;
    overflow: hidden;
    box-shadow: inset 0 0 15px rgb(133, 47, 47);
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .red_info ul{
    padding: 0;
    
}
.game .inner .gamebox .contents .main .red_info li{
    background-color: rgba(255, 255, 255, 0.5);
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 10px 0 0;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .red_info span{
    width: 30px;
    height: 30px;
    margin: 0px 0 5px;
}
.game .inner .gamebox .contents .main .red_info div{
    font-size: 20px;
    width: 100px;
    display: block;
}
.game .inner .gamebox .contents .main .popup{
    padding: 30px;
    top: 130px;
    left: 340px;
    width: 600px;
    border-radius: 20px;
    border: 5px solid black;
    position: absolute;
    z-index: 3;
    background-image: url('../images/popup_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.game .inner .gamebox .contents .main .popup .response{
    overflow: auto;
    height: 250px;
}
.game .inner .gamebox .contents .main .popup p{
    background-color: rgba(255, 255, 255, 0.8);
    width: 490px;
    padding: 10px 25px 15px;
    margin: 15px auto 0;
    border-radius: 15px; 
    font-size: 15px;
    box-shadow: inset 0 0 10px black;
}
.game .inner .gamebox .contents .main .popup .btn{
    background-color: rgba(255, 255, 255, 0.8);
    width: 150px;
    padding: 15px;
    margin: 35px auto 0;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    transition: 0.2s;
    border: 0;
    box-shadow: inset 0 0 10px black;
}
.game .inner .gamebox .contents .main .popup .btn:hover{
    background-color: #666; 
    cursor: pointer;
}

.game .inner .gamebox .contents .main .something{
    background-color: rgba(137, 43, 226, 0.068);
    width: 900px;
    border-radius: 15px;
    margin: 0 auto 0;
    height: 730px;
    z-index: 2;
}
.game .inner .gamebox .contents .main .something .baron{
    z-index: 3;
    width: 75px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 470px;
    background-image: url('../images/baron.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .something .dragon{
    z-index: 3;
    width: 110px;
    height: 110px;
    position: absolute;
    top: 440px;
    left: 700px;
    background-image: url('../images/dragon.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .head{
    z-index: 2;
    display: flex;
    padding: 12px;
    line-height: 1.3;
}
.game .inner .gamebox .contents .main .head .bluestatus{
    background-color: rgb(184, 99, 39);
    width: 160px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border:4px solid;
    box-sizing: content-box;
    height: 85px;
}
.game .inner .gamebox .contents .main .head .bluestatus ul{
    padding: 0;
}
.game .inner .gamebox .contents .main .head .bluestatus2{
    background-image: url('../images/statusboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(184, 99, 39);
    width: 150px;
    height: 175px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
}
.game .inner .gamebox .contents .main .head .bluestatus2 div{
    width: 28px;
    height: 26px;
    margin: 5px 0 0 15px;
    padding: 0;
    font-size: 15px;
}
.game .inner .gamebox .contents .main .head .bluestatus2 .info--gold{
    z-index: 3;
    width: 35px;
    height: 30px;
    margin: 10px 10px 0px 13px;
    background-image: url('../images/gold.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .head .bluestatus2 .info--dragon{
    z-index: 3;
    width: 30px;
    height: 30px;
    margin: 0 5px 0px 20px;
    background-image: url('../images/dragon.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .head .bluestatus2 .info--baron{
    z-index: 3;
    width: 30px;
    height: 30px;
    margin: 0 0px 0px 25px;
    background-image: url('../images/baron.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .head .bluestatus2 .info--tower{
    z-index: 3;
    width: 30px;
    height: 30px;
    margin: 0 0px 0px 25px;
    background-image: url('../images/turret_blue.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .head .bluestatus2 .goldnum{
    z-index: 3;
    width: 55px;
    height: 20px;
    margin: 10px 0 10px;
    font-size: 15px;
    text-align: center;
}
.game .inner .gamebox .contents .main .head .redstatus{
    background-color: rgb(184, 99, 39);
    width: 160px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border:4px solid;
    box-sizing: content-box;
    height: 85px;
    margin: 0 0 0 520px;
}
.game .inner .gamebox .contents .main .head .redstatus ul{
    padding: 0;
}
.game .inner .gamebox .contents .main .head .time{
    font-size: 50px;
    z-index: 3;
    color: rgb(202, 122, 51);
    margin: 0 150px 0 160px;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: -35px;
    left: 365px;
    background-image: url('../images/time.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.game .inner .gamebox .contents .main .head .time .back{
    width: 230px;
    height: 80px;
    transform: translate(100,100);
    padding: 15px 0 0;
    overflow: hidden;
}

.game .inner .gamebox .contents .main .map{
    background-image: url('../images/map.jpg');
    width: 910px;
    height: 725px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 185px;
    border-radius: 15px;
    z-index: 1;
    border: 5px solid black;
}
.game .inner .gamebox .contents .main .choice{
    z-index: 2;
    position: absolute;
    background-color: rgb(102, 102, 102);
    bottom: 10px;
    width: 1260px;
    height: 80px;
    left: 10px;
    border-radius: 10px;
    border:4px solid;
    transition: 0.3s;
    overflow: hidden;
}
.game .inner .gamebox .contents .main .choice:hover{
    height: 260px;
}
.game .inner .gamebox .contents .main .choice .turn--info{
    background-color: rgb(83, 83, 83);
    padding: 10px 10px 6px;
    width: 180px;
    margin: 10px;
    border-radius: 8px;
}
.game .inner .gamebox .contents .main .choice .turn--info .blue--turn{
    background-color: rgb(100, 100, 255);
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: auto;
    font-size: 30px;
    border-radius: 10px;
}
.game .inner .gamebox .contents .main .choice .turn--info .red--turn{
    background-color: rgb(253, 120, 120);
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: auto;
    font-size: 30px;
    border-radius: 10px;
}
.game .inner .gamebox .contents .main .choice .turn--info .action{
    background-color: rgb(158, 158, 158);
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin: 10px auto;
    padding: 10px 5px 0;
    border-radius: 5px;
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .choice .turn--info .complete{
    width: 120px;
    height: 30px;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .choice .turn--info .no--complete{
    width: 120px;
    height: 30px;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    box-sizing: content-box;
}
.game .inner .gamebox .contents .main .choice ul{
    display: flex;
    padding: 0 15px 0;
}
.game .inner .gamebox .contents .main .choice ul li{
    /* background-color: rgb(55, 73, 128); */
    margin: 0 10px 0;
    width: 150px;
}
.game .inner .gamebox .contents .main .choice ul .title{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 5px 5px;
    padding: 6px 10px 10px;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    font-size: 25px;
    border:4px solid rgb(68, 68, 68);
    box-sizing: content-box;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
}
.game .inner .gamebox .contents .main .choice ul .selected{
    width: 120px;
    height: 33px;
    margin: 10px 9px 0;
    font-size: 19px;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    background-color: rgb(184, 99, 39);
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
}
.game .inner .gamebox .contents .main .choice ul .select{
    width: 120px;
    height: 33px;
    margin: 10px 9px 0;
    font-size: 19px;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    background-color: rgb(189, 189, 189);
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
}
.game .inner .gamebox .contents .main .choice ul .select:hover{
    background-color: rgb(184, 99, 39);
}
.game .inner .gamebox .contents .main .choice ul .no--select{
    width: 120px;
    height: 33px;
    margin: 10px 9px 0;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    background-color: rgb(100, 100, 100);
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
}

.game .my1{
    position: absolute;
    top: 180px;
    left: 250px;
}
.game .my2{
    position: absolute;
    top: 360px;
    left: 520px;
}
.game .my3{
    position: absolute;
    top: 610px;
    left: 770px;
}
.game .my4{
    position: absolute;
    top: 330px;
    left: 270px;
}
.game .my5{
    position: absolute;
    top: 450px;
    left: 460px;
}
.game .my6{
    position: absolute;
    top: 580px;
    left: 570px;
}
.game .my7{
    position: absolute;
    top: 440px;
    left: 250px;
}
.game .my8{
    position: absolute;
    top: 500px;
    left: 360px;
}
.game .my9{
    position: absolute;
    top: 590px;
    left: 420px;
}
.game .op1{
    position: absolute;
    top: 40px;
    left: 420px;
}
.game .op2{
    position: absolute;
    top: 270px;
    left: 670px;
}
.game .op3{
    position: absolute;
    top: 450px;
    left: 940px;
}
.game .op4{
    position: absolute;
    top: 60px;
    left: 610px;
}
.game .op5{
    position: absolute;
    top: 200px;
    left: 730px;
}
.game .op6{
    position: absolute;
    top: 280px;
    left: 910px;
}
.game .op7{
    position: absolute;
    top: 50px;
    left: 740px;
}
.game .op8{
    position: absolute;
    top: 130px;
    left: 800px;
}
.game .op9{
    position: absolute;
    top: 170px;
    left: 910px;
}