.home--main{
    height: 1080px;
    background-image: url('../images/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home--main .top{
    background-color: rgba(0, 0, 0, 0);
}

.home--top{
    /* margin: 10px auto; */
    height: 450px;
}
.home--top .maintitle{
    font-size:80px;
    /* font-family: 'Staatliches', cursive, sans-serif; */
    font-family: 'Signika Negative', sans-serif;
    display: block;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}
.home--top .inner{
    width: 1200px;
    height: 420px;
    border-radius: 10px;
    /* background-color:beige; */
    display: flex;
    margin: auto;
    position: relative;
}
.home--top .inner img{
    height: 400px;
    width: 650px;
    display: block;
    margin: auto;
    border: 8px solid black;
    border-radius: 10px;
}
.home--top .inner .material-icons{
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    border-radius: 100%;
}
.home--top .inner .material-icons:hover{
    background-color: #666;
}
.home--top .inner .material-icons.L{
    top:0;
    bottom: 0;
    left: 150px;
    margin: auto;
    position: absolute;
}
.home--top .inner .material-icons.R{
    position: absolute;
    top:0;
    bottom: 0;
    right: 150px;
    margin: auto;
}
.home--bottom {
    height: 400px;
}
.home--bottom .inner {
    padding: 10px;
    /* background-color: #666; */
    width: 1200px;
    display: flex;
    height: 300px;
    margin: auto;
    position: relative;
}
.home--bottom .inner .info {
    background-color: rgba(160, 160, 160, 0.692);
    border-radius: 15px;
    width: 500px;
    height: 380px;
    margin: auto;
}
.home--bottom .inner h2 {
    padding: 15px 15px 0 15px;
    border-radius: 20px;
    font-size: 38px;
    /* font-family: 'Staatliches', cursive, sans-serif; */
    font-family: 'Signika Negative', sans-serif;
}
.home--bottom .inner p {
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Noto Sans KR', sans-serif;
}
.home--bottom .inner .match {
    background-color: rgba(160, 160, 160, 0.658);
    border-radius: 15px;
    width: 620px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.home--bottom .inner .match .refresh{
    background-image: url('../images/refresh.png');
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    margin: 20px 0 0 10px;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
    background-color: antiquewhite;
    border-radius: 15px;
}
.home--bottom .inner .match .refresh:hover{
    transform: rotate(60deg);
}
.home--bottom .inner .match .username{
    text-align: right;
    font-size: 20px;
    width: 200px;
    height: 20px;
    padding: 20px 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
.home--bottom .inner .match .match--contents{
    margin: 0 100px 0;
    padding: 100px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Noto Sans KR', sans-serif;
}
.home--bottom .inner .match .no--team{
    margin: 0 50px 0;
    padding: 100px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}
.home--bottom .inner .match .match--list{
    padding: 0 10px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Noto Sans KR', sans-serif;
    height: 320px;
    width: 620px;
}
.home--bottom .inner .match .match--list .index{
    display: flex;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 0px;
}
.home--bottom .inner .match .match--list .index .date{
    width: 115px;
    margin: 0 0 0 10px;
}
.home--bottom .inner .match .match--list .index li{
    width: 200px;
}
.home--bottom .inner .match .match--list .data{
    display: flex;
    margin: 2px;
}
.home--bottom .inner .match .match--list .data .date{
    width: 125px;
}
.home--bottom .inner .match .match--list .data li{
    width: 200px;
    height: 25px;
}
.underline {
    /* height: 50px; */
    text-align: center;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
}