.league--main{
    height: 970px;
    background-image: url('../images/league_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.league--main .inner{
    width: 1200px;
    display: block;
    margin: auto;
}
.league--main .inner .league--box{
    height: 600px;
    padding: 100px 10px 10px;
    border-radius: 15px;
    position: relative;
}
.league--main .inner .league--box .contents{
    line-height: 1.3;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgba(255, 255, 255, 0.726);
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    height: 625px;
}
.league--main .inner .league--box .contents .victory{
    position: absolute;
    background-color: blanchedalmond;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    top: 680px;
    right: 50px;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .victory:hover{
    cursor: pointer;
    background-color: rgb(255, 215, 155);
}
.league--main .inner .league--box .contents .season{
    position:absolute;
    background-color: blanchedalmond;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    top: 680px;
    right: 170px;
    transition: 0.2s;
    
}
.league--main .inner .league--box .contents .season:hover{
    cursor: pointer;
    background-color: rgb(255, 215, 155);
}
.league--main .inner .league--box .contents .current{
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
}
.league--main .inner .league--box .contents .current .black--img{
    width: 600px;
    height: 450px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: 0.2s;
    filter: grayscale(100%);
}
.league--main .inner .league--box .contents .current .img{
    width: 700px;
    height: 450px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    position: absolute;
    z-index: 2;
    opacity: 1;
}
.league--main .inner .league--box .contents .current .title{
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    z-index: 8;
    font-size: 35px;
    height: 45px;
    opacity: 1;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
.league--main .inner .league--box .contents .current .teamtitle{
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    z-index: 8;
    font-size: 35px;
    height: 100px;
    opacity: 1;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    overflow: hidden;
}
.league--main .inner .league--box .contents .current .title.main{
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    z-index: 8;
    font-size: 35px;
    height: 45px;
    opacity: 1;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
.league--main .inner .league--box .contents .current .title .playtitle{
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    z-index: 8;
    font-size: 35px;
    height: 110px;
    opacity: 1;
    padding: 170px 30px;
    box-sizing: content-box;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
.league--main .inner .league--box .contents .current .makeTeam{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 450px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .current .end.makeTeam{
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 450px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .current .end.makeTeam:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.league--main .inner .league--box .contents .current .on.makeTeam:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.league--main .inner .league--box .contents .current .makeTeam .img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/maketeam_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -235px;
}
.league--main .inner .league--box .contents .current .makeTeam .black--img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/maketeam_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -235px;
}
.league--main .inner .league--box .contents .current .banPick{
    /* background-color: rgb(130, 198, 238); */
    width: 250px;
    height: 450px;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .current .on.banPick:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.league--main .inner .league--box .contents .current .end.banPick{
    /* background-color: rgb(130, 198, 238); */
    width: 450px;
    height: 450px;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .current .end.banPick:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.league--main .inner .league--box .contents .current .banPick .img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/ban_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -220px;
}
.league--main .inner .league--box .contents .current .banPick .black--img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/ban_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -220px;
}
.league--main .inner .league--box .contents .current .playGame{
    background-color: rgb(83, 133, 60);
    width: 250px;
    height: 450px;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .current .on.playGame:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.league--main .inner .league--box .contents .current .playGame .img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/game_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -150px;
}
.league--main .inner .league--box .contents .current .playGame .black--img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/game_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -150px;
}
.league--main .inner .league--box .contents .current .personalSchedule{
    background-color: rgb(83, 133, 60);
    width: 250px;
    height: 450px;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: 0.2s;
}
.league--main .inner .league--box .contents .current .on.personalSchedule:hover{
    transform:scale(1.2);
    cursor: pointer;
}
.league--main .inner .league--box .contents .current .personalSchedule .img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -230px;
}
.league--main .inner .league--box .contents .current .personalSchedule .black--img{
    box-shadow: inset 0 0 65px rgb(0, 0, 0);
    background-image: url('../images/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    left: -230px;
}
.league--main .inner .league--box .contents h2{
    font-size: 40px;
    padding: 30px;
    font-weight: 700;
}
.league--main .inner .league--box .contents p{
    font-size: 20px;
    padding: 40px;
    height: 300px;
    margin: 0px auto;
}
.league--main .inner .league--box .contents .play--button{
    background-color: white;
    display: block;
    width: 200px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Staatliches', cursive, sans-serif;
    border: 5px solid black;
    color:black;
    transition: .3s;
    position:absolute;
    top : 580px;
    left: 500px;
    z-index: 2;
}
.league--main .inner .league--box .contents .play--button:hover{
   border:5px solid black;
   cursor: pointer;
   transform: scale(1.1);
}
.league--main .inner .league--box .contents .next--button{
    background-color: rgb(255, 255, 255);
    display: block;
    width: 200px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    border: 5px solid black;
    color:black;
    transition: .3s;
    position:absolute;
    top : 530px;
    left: 500px;
    text-decoration: none;
}
.league--main .inner .league--box .contents .next--button:hover{
   border:5px dashed black;
   cursor: pointer;
   transform: scale(1.1);
}