.login--main{
    height: 930px;
    position: relative;
    background-image: url('../images/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.login--main .top{
    background-color: rgba(0, 0, 0, 0);
}
.login--main .inner{
    width: 1200px;
    margin: auto;
}
.login--main .inner .loginbox{
    width: 500px;
    height: 590px;
    display: block;
    margin: auto;
    background-color: white;
    border: 5px solid #333;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}
.login--main .inner .boxtitle{
    font-size: 40px;
    padding: 60px;
    margin-top: 20px;
}
.login--main .inner .inputbox{
    padding: 20px;
    font-size: 25px;
    display: block;
}
.login--main .inner .inputbox .email{
    padding: 5px;
    display: flex;
    margin: auto;
    width: 400px;
    height: 45px;
}
.login--main .inner .inputbox .pw{
    padding: 5px;
    display: flex;
    margin: auto;
    width: 400px;
    height: 45px;
}
.login--main .inner .inputbox label{
    display: block;
    width: 80px;
    margin: 0 0 0 20px;
}
.login--main .inner .inputbox input{
    padding: 10px;
    height: 35px;
    margin: 3px;
    width: 250px;
    display: block;
    border-radius: 5px;
    font-size: 16px;
}

.login--main .inner .loginbox .btnbox {
    width: 400px;
    height: 100px;
    margin: auto;
}
.login--main .inner .loginbox .btnbox a {
    color:#333;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: auto;
}
.login--main .inner .loginbox .btnbox a:hover {
    color:red;
}
.login--main .inner .loginbox .btnbox input{
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    margin: 7px;
    width: 320px;
    transition: 0.2s;
}
.login--main .inner .loginbox .btnbox input:hover{
    color:white;
    background-color: #333;
    cursor: pointer;
}
