.top{
    /* margin: 10px auto; */
    background-color: #c1c1c1;
}
.top .top-inner .title{
    font-size:80px;
    font-family: 'Staatliches', cursive, sans-serif;
    display: block;
    text-align: center;
    margin: auto;
    font-weight: 700;
    padding: 20px;
}