.MT--main {
    background-image: url('../images/maketeam_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 930px;
}
.MT--main .inner {
    width: 1300px;
    display: flex;
    height: 630px;
    margin: auto;
    position: relative;
    border-radius: 15px;
    padding: 65px 15px 15px;
}
.MT--main .inner .MTbox{
    background-color: rgba(255,255,255,0.7);
    border-radius: 15px;
    display: block;
    width: 1200px;
    height: 830px;
    margin: auto;
}
.MT--main .inner .MTbox .main--top{
    display: flex;
    margin: 5px 5px 0;
    padding: 5px 15px 0;
}
.MT--main .inner .MTbox .main--top .title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 1;
    width: 220px;
    margin: auto;
    height: 48px;
    padding: 15px 0px;
    overflow: hidden;
    box-sizing: content-box;
}
.MT--main .inner .MTbox .main--top .title input{
    margin: 9px auto 0px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
}
.MT--main .inner .MTbox .main--top .money{
    display: block;
    width: 180px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin: 7px 15px;
    font-size: 17px;
}
.MT--main .inner .MTbox .main--top .myplayer{
    width: 800px;
    display: flex;
    border-radius: 5px;
    margin: auto;
    padding: 8px;
}
.MT--main .inner .MTbox .main--top .send{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 17px;
    display: block;
    margin: auto;
    width: 160px;
}
.MT--main .inner .MTbox .main--top .send button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    border:2px solid #666;
    width: 90px;
    height: 40px;
    text-align: center;
    margin: 5px 0 5px 25px;
}
.MT--main .inner .MTbox .main--top .send button:hover{
    color:tomato;
    cursor: pointer;
}
.MT--main .inner .MTbox .main--top .send button:active{
    background-color: tomato;
    color: white;
}
.MT--main .inner .MTbox .line{
    background-color: #666;
    width: 1160px;
    height: 6px;
    margin: 0px 0px 10px 0px;
}
.MT--main .inner .MTbox .contents{
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    height: 490px;
    padding: 10px 20px 20px 20px;
}
.MT--main .inner .MTbox .contents .btnbar{
    display: flex;
}
.MT--main .inner .MTbox .contents .btnbar .position{
    margin: auto;
    padding: 8px;
    width: 230px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #666;
    background-color: white;
    transition: 0.2s;
}
.MT--main .inner .MTbox .contents .btnbar .position:hover{
    background-color: #c1c1c1;
    border: #c1c1c1;
    cursor: pointer;
}
.MT--main .inner .MTbox .contents .index ul{
    display: flex;
    margin: 10px 0 10px;   
    border: 2px solid #666;
    background-color: #c1c1c1;
    padding: 4px 10px 4px;
    border-radius: 5px;
}
.MT--main .inner .MTbox .contents .index ul li{ /*나머지 인덱스*/
    padding: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s;
}
.MT--main .inner .MTbox .contents .index ul div{ /*선수선택*/
    padding: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s;
}
.MT--main .inner .MTbox .contents .index ul .ability{ /*능력치*/
    padding: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.2s;
    margin: auto 6px;
}
.MT--main .inner .MTbox .contents .index ul li:hover{
    color:white;
    cursor: pointer;
}
.MT--main .inner .MTbox .contents .MT--players{
    overflow: auto;
    height: 565px;
}
.MT--main .inner .MTbox .contents .MT--players ul{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(1,30,70);
    color: rgb(255, 255, 255);
    padding: 2px 5px 5px;
    height: 28px;
    border-radius: 7px;
    margin: 4px;
    transition: 0.5s;
    box-sizing: content-box;
}
.MT--main .inner .MTbox .contents .MT--players ul div{
    padding: 0 10px 0;
}
.MT--main .inner .MTbox .contents .MT--players ul div button{
    width: 50px;
    height: 27px;
    margin: 2px;
    padding: 0 0 1px;
    border-radius: 5px;
    border:2px solid #666;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
.MT--main .inner .MTbox .contents .MT--players ul div button:active{
    background-color: #666;
    color: white;
}
.MT--main .inner .MTbox .contents .MT--players ul div button:hover{
    cursor: pointer;
}
.MT--main .inner .MTbox .contents .MT--players ul li{
    font-weight: 700;
    margin: 3px auto;
    width: 100px;
    height: 10px;
    padding: 0px 0px 15px;
    text-align: center;
    display: block;
}
.MT--main .inner .MTbox .contents .MT--players ul .long{
    font-weight: 700;
    margin: 3px auto;
    width: 150px;
    height: 10px;
    padding: 0px 0px 15px;
    text-align: center;
    display: block;
}
.MT--main .inner .MTbox .contents .MT--players ul li.status{
    background-color:rgb(255, 192, 90) ;
    border-radius: 5px;
    box-sizing: content-box;
    color: black;
}