.PS--main{
    height: 850px;
    padding: 0 20px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    background-image: url('../images/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.PS--main .top{
    background-color: rgba(0, 0, 0, 0);
}
.PS--main .top .title{
    padding: 15px;
}
.PS--main .inner{
    width: 1300px;
    display: block;
    margin: auto;
}
.PS--main .inner .contents{
    height: 650px;
    padding: 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.PS--main .inner .contents .match--info{
    background-color: rgb(204, 121, 44);
    padding: 10px 20px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    width: 660px;
    margin: auto 5px;
    overflow: hidden;
}
.PS--main .inner .contents .match--info .title{
    font-size: 20px;
    width: 150px;
}
.PS--main .inner .contents .match--info .VS{
    font-size: 20px;
    display: flex;
}
.PS--main .inner .contents .match--info .VS .text{
    width: 20px;
    height: 20px;
    margin: 0 15px 0;
}
.PS--main .inner .contents .match--info .VS div{
    width: 220px;
}
.PS--main .inner .contents .team--info{
    background-color: rgb(61, 153, 118);
    padding: 10px 20px;
    border-radius: 8px;
    margin: auto 5px;
    display: flex;
    width: 580px;
    font-size: 20px;
}
.PS--main .inner .contents .team--info .teamname{
    width: 150px;
}
.PS--main .inner .contents .team--info .money{
    width: 150px;
    text-align: right;
}
.PS--main .inner .contents .team--info .popularity{
    width: 200px;
    text-align: center;
}
.PS--main .inner .contents .schedule--info{
    background-color: rgba(68, 134, 68, 0);
    padding: 5px 15px 5px;
    border-radius: 8px;
    margin: 10px 5px 10px;
    width: 1300px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.PS--main .inner .contents .schedule--info .title{
    width: 200px;
    height: 40px;
    font-size: 25px;
    padding: 5px;
    margin:0 0 10px 10px;
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
}
.PS--main .inner .contents .schedule--info .blank{
    width: 580px;
    height: 40px;
    font-size: 25px;
    padding: 0px;
    margin:0 ;
}
.PS--main .inner .contents .schedule--info .blank .help{
    width:30px;
    height: 30px;
    margin: 3px 0;
    font-size: 20px;
    border-radius: 50px;
    border:2px solid;
    padding: 0px;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 220px;
    overflow: hidden;
    line-height: 1.4;
    color: blanchedalmond;
    text-shadow: 2px 2px 2px black;
}
.PS--main .inner .contents .schedule--info .blank .help:hover{
    width: 600px;
    height: 140px;
    margin: 3px 0;
    font-size: 20px;
    border-radius: 10px;
    border:3px solid;
    padding: 15px;
    text-align: left;
    color: black;
    text-shadow: none;
    background-color: rgb(185, 185, 185);
    z-index: 2;
    box-sizing: content-box;
}
.PS--main .inner .contents .schedule--info .send{
    width: 150px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    text-align: center;
    transition: 0.3s;
    margin: auto;
    box-sizing: content-box;
}
.PS--main .inner .contents .schedule--info .send:hover{
    cursor: pointer;
    background-color: rgb(180, 180, 180);
}
.PS--main .inner .contents .schedule--info .card{
    background-color: rgb(192, 192, 192);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 5px 10px;
    width: 195px;
    height: 510px;
    font-size: 18px;
    box-shadow: inset 0 0 10px rgb(87, 87, 87);
    box-sizing: content-box;
}
.PS--main .inner .contents .schedule--info .card .pos{
    font-size: 25px;
}
.PS--main .inner .contents .schedule--info .card .image{
    background-image: url('../images/player.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    width: 183px;
    height: 150px;
    margin: 15px 5px 15px;
    border:3px solid rgb(39, 39, 39);
    box-sizing: border-box;
    border-radius: 5px;
}
.PS--main .inner .contents .schedule--info .card .info{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 0 10px rgb(87, 87, 87);
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 7px;
}
.PS--main .inner .contents .schedule--info .card .info li{
    margin: 8px 5px 8px;
    width: 100px;
    text-align: center;
}
.PS--main .inner .contents .schedule--info .card .info div{
    margin: 8px 5px 8px;
    width: 50px;
}
.PS--main .inner .contents .schedule--info .card .select{
    width: 190px;
    border-radius: 5px;
}
.PS--main .inner .contents .schedule--info .card .select ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.PS--main .inner .contents .schedule--info .card .select div{
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    border-radius: 5px;
    margin: 5px;
    width: 75px;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    transition: 0.2s;
    box-sizing: content-box;
}
.PS--main .inner .contents .schedule--info .card .select div:hover{
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}
.PS--main .inner .contents .schedule--info .card .select li{
    background-color: rgba(114, 212, 114, 0.815);
    box-shadow: inset 0 0 5px rgb(87, 87, 87);
    border-radius: 5px;
    margin: 5px;
    width: 75px;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    transition: 0.2s;
}
.PS--main .inner .contents .schedule--info .card .select li:hover{
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}