.tower--main{
    position:absolute;
    width: 60px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
}
.tower--main .hpbar{
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 1px 1px 2px 1px;
    width: 100px;
    height: 20px;
    display: flex;
}
.tower--main .hpbar .hp--blue{
    background-color: rgb(35, 98, 156);
    width: 10px;
    height: 20px;
    border-radius: 3px;
    margin: 1px;
}
.tower--main .hpbar .hp--red{
    background-color: rgb(168, 38, 38);
    width: 10px;
    height: 20px;
    border-radius: 3px;
    margin: 1px;
}
.tower--main .blue--tower{
    background-image: url('../images/turret_blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: 45px;
    height: 65px;
}
.tower--main .red--tower{
    background-image: url('../images/turret_red.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: 45px;
    height: 65px;
}

