#Card{
    background-color: #011e46;
    border-radius: 10px;
    border:3px solid #ffffff;
    color: white;
    margin: 0 7px 0;
    width: 130px;
    height: 70px;
    padding: 5px;
    line-height: 1.1;
    font-weight: 700;
    box-sizing: content-box;
}
#Card .card--title{
    font-size: 18px;
    text-align: center;
}
#Card .card--name{
    font-size: 17px;
    text-align: center;
    margin: 3px;
}
#Card .card--price{
    font-size: 18px;
    text-align: center;
}