header{
    background-color: #011e46;
 
}
img {
    display: block;
    color:black;
}

header .inner{
    background-color: rgba(102, 102, 102, 0);
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    position: relative;
}
header .inner ul{
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    font-family: 'Bitter', serif;
    font-style: italic;
    font-weight: 700;
}
header .inner ul li{
    /* background-color: orangered; */
    position: relative;
}
header .inner ul li::before{
    content: "";
    display: block;
    width: 2px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .inner ul li:first-child:before{
    display: none;
}
header .inner ul li a{
    /* background-color: orangered; */
    padding: 21px 70px;
    font-size: 22px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
header .inner ul li a:hover{
    color:rgb(170, 255, 251);
    font-size: 25px;
}
header img{
    background-color: white;
    width: 100px;
    height: 75px;
    margin: auto;
    position:absolute;
    border: 5px solid;
    top: 0;
    bottom: 0;
    left: 25px;
    border-radius: 5px;
    /* display: none; */
}

.top{
    /* margin: 10px auto; */
    background-color: #c1c1c1;
}
.top .maintitle{
    font-size:80px;
    /* font-family: 'Staatliches', cursive, sans-serif; */
    font-family: 'Signika Negative', sans-serif;
    display: block;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}